<h1>All available users</h1>
<ul>
    <%@users.pluck(:name).each do |users_name|%>
        <li>
            <%=users_name.capitalize%>
            <%= form_with model: Registration.new, method:"post" do |f| %>
                 <%= f.submit 'Login',name:"invitee", value: users_name ,:class => "btn #{users_name} btn-primary" %>
            <%end%>
        </li>
    <%end%>
</ul>