<h1><%=@user.name.capitalize%>'s Profile</h1>
<h2 class="d-flex"> Hosted Events </h2>
<hr>
<%@user.events.each do |event|%>
    <h3><%=event.name%></h3>
    <p>
        Date: <%=event.date%>
    </p>
    <p>
       Description: <%=event.description%>
    </p>
    <hr>
<%end%>
<h2> Attending Events </h2>

